<div class="p-5 vh-100 hero-main">

  <div class="row pt-5 container col-md-7 shadow-lg py-3 rounded-4" style="background:white">
    <div class="col-md-5">
      <h2 class="pb-3" style="font-size: 30px">Please enter your card info</h2>
      <div class="">
        <form class="example-form">
          <div class="row pb-3">

            <label for="cardNum">Card number</label>
            <div class="form-group input-group">
              <input type="text" class="form-control" id="cardNum" [(ngModel)]="cardInfo.pan" appNumericOnly placeholder="1111-1111-1111-1111" aria-describedby="basic-addon2" [ngModelOptions]="{standalone: true}">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-credit-card input-group-text"></i></span>
              </div>
            </div>
          </div>

          <div class="row pb-3">
            <div class="form-group col-6">
              <label for="expirationDate">Expiration date</label>
              <input type="text" appNumericOnly class="form-control" [(ngModel)]="expirationDate" id="expirationDate" placeholder="MM/YY" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-6">
              <label for="cvc">CV code</label>
              <input type="text" appNumericOnly class="form-control" [(ngModel)]="cardInfo.securityCode" id="cvc" placeholder="CVC" [ngModelOptions]="{standalone: true}">
            </div>


          </div>

          <div class="row">
            <div class="form-group">
              <label for="cardOwner">Card owner</label>
              <input type="text" class="form-control" [(ngModel)]="cardInfo.cardholderName" id="cardOwner" placeholder="Pera Peric" [ngModelOptions]="{standalone: true}">
            </div>
          </div>

          <div class="py-3">
            <button class="btn btn-danger" (click)="pay()">Plati</button>
          </div>

        </form>
      </div>

    </div>
    <div class="col-md-1 vertical-line"></div>
    <div class="col-md-1"></div>

    <div class="col-md-3">
      <img src="{{'data:image/png;base64,' + qr}}" style="width: 300px;" alt="QR code"/>
    </div>
  </div>
</div>
